#customnav {
    flex-direction: row;
}

.nav-item {
    margin: 10px;
}

#bg {
    background-color: #456FFF;
}

.navbar-light .navbar-brand {
    color: white;
}

.nav-link {
    color: white;
}

.navbar { 
padding: 0 0;
}