<div class="habitats">
  <div class="habitat">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Pond 1</h5>
          <p class="card-text"><b>Species:</b> Talapia</p>
          <p class="card-text"><b>Habitat:</b> Pond</p>
          <p class="card-text"><b>Average Size:</b> 100g</p>
          <p class="card-text"><b>Stock:</b> 500</p>
          <p class="card-text"><b>Current Temp:</b> 20 C</p>
          <p class="card-text" style="align-items: center"><b>Recomendations:</b> Feed 5 kg, 3 times a day 0.7 mm feed.</p>
        </div>
       </div>
  </div>

<div class="habitat">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Pond 2</h5>
          <p class="card-text"><b>Species:</b> Talapia</p>
          <p class="card-text"><b>Habitat:</b> Pond</p>
          <p class="card-text"><b>Average Size:</b> 150g</p>
          <p class="card-text"><b>Stock:</b> 450</p>
          <p class="card-text"><b>Current Temp:</b> 22 C</p>
          <p class="card-text" style="align-items: center"><b>Recomendations:</b> Feed 10 kg, 2 times a day 1 mm feed.</p>
        </div>
       </div>
  </div>

<div class="habitat">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Cage 1</h5>
          <p class="card-text"><b>Species:</b> Catfish</p>
          <p class="card-text"><b>Habitat:</b> Cage</p>
          <p class="card-text"><b>Average Size:</b> 300g</p>
          <p class="card-text"><b>Stock:</b> 200</p>
          <p class="card-text"><b>Current Temp:</b> 23 C</p>
          <p class="card-text" style="align-items: center"><b>Recomendations:</b> Feed 15 kg, 3 times a day 2 mm feed.</p>
        </div>
       </div>
  </div>

<div class="habitat">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Pond 3</h5>
          <p class="card-text"><b>Species:</b> Shrimp</p>
          <p class="card-text"><b>Habitat:</b> Pond</p>
          <p class="card-text"><b>Average Size:</b> 50g</p>
          <p class="card-text"><b>Stock:</b> 1000</p>
          <p class="card-text"><b>Current Temp:</b> 21 C</p>
          <p class="card-text" style="align-items: center"><b>Recomendations:</b> Feed 10 kg, 3 times a day 0.3 mm feed.</p>
        </div>
       </div>
  </div>
</div>

